.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2 {
    display: flex;
    margin: 0px;
}

.dfr {
    margin-left: 30px;
}

.dfr2 {
    margin-left: 15px;
}

.row-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.btn-dfr {
    margin-top: 10px;
}

.clm {
    display: flex;
    flex-direction: column;
}
.color-p{
    color: #3498DB ;
}